/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* https://github.com/rebelot/kanagawa.nvim/blob/master/extras/wezterm.lua */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #16161D;
    color: #DCD7BA;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 12px;
}

/* Each module */
#clock,
#cpu,
#custom-weather,
#memory,
#mode,
#pulseaudio,
#tray {
    padding-left: 5px;
    padding-right: 5px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
    color: #E6C384;
    font-weight: bold;
}

#cpu {
    color: #98BB6C;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    color: #DCA561;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #E6C384;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#pulseaudio {
    color: #7FB4CA;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

#pulseaudio.muted {
    /* No styles */
}

#window {
    font-weight: bold;
}

#tags button {
    border-top: 1px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    color: #7E9CD8;
}

#tags button.focused {
    border-color: #A3D4D5;
    color: #E46876;
    background-color: #7FB4CA;
}

#tags button.urgent {
    border-color: #6A9589;
    color: #DCD7BA;
}

#custom-weather {
    color: #D27E99;
}
