* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* undecided if I want Iosevka Slab Aile or pragmatapro */
    font-family: Iosevka Slab;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}


#window {
    padding-left: 12px;
    background-color: #E6E5E4;
    padding-right: 12px;
}

#waybar.stacked #window {
    background-color: #FFF;
    color: #FFF
}

#waybar.empty #window {
    color: #FFF;
    background-color: #fff;
}

#workspaces {
    color: #Fff;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #323232;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#waybar {
    background-color: transparent;
}

#workspaces button {
  color: #Fff;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  min-height: 0;
  border-radius: 0;
  min-width: 20px;
  border-radius: 2px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

#workspaces button.active {
    color: #FFF;
    border-width: 1.5px;
    border-radius: 0;
    border-color: #FFF;
}

#custom-logout {
    font-family: Iosevka Slab;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 15px;
}

#clock {
    margin-bottom: 20px;
    margin-left: 15px;
    font-family: Iosevka Slab;
    font-weight: normal;
    color: #242424;
}
