window {
margin: 0px;
border: 1px solid #A3D4D5;
background-color: #16161D;
}

#input {
margin: 5px;
border: none;
color: #C8C093;
background-color: #658594;
}

#inner-box {
margin: 5px;
border: none;
background-color: #16161D;
}

#outer-box {
margin: 5px;
border: none;
background-color: #121212;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #DCD7BA;
} 

#entry:selected {
background-color: #7FB4CA;
}
